* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.head {
	background-color: #000;
	text-align: center;
	margin: 0 auto;
	width: 500px;
	height: auto;
	padding: 10px;
	border: 1px solid #d4d5d6;
}

.message-title {
	color: #fff;
	border-bottom: 1px solid #d4d5d6;
	margin-bottom: 5px;
}

.paragraph {
	color: black;
	background-color: #d3d3d3;
	border-radius: 50px;
	padding: 30px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

img {
	width: 50px;
	height: 50px;
	padding: 5px;
	border-radius: 50px;
	border: 2px solid white;
}

span {
	color: #fff;
}

.message-form {
	padding: 10px;
}

form textarea {
	border-radius: 15px;
}

.message-form button {
	color: black;
	background-color: #d3d3d3;
	padding: 15px 32px;
	border: none;
	display: inline-block;
	margin-top: 10px;
}

